
# Created by https://www.toptal.com/developers/gitignore/api/shell
# Edit at https://www.toptal.com/developers/gitignore?templates=shell

#!! ERROR: shell is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/shell
